<!doctype html>
<html>
<head>
  <title>Meadowlark Travel</title>
</head>
<body>
  <h1>Welcome to Meadowlark Travel</h1>
  <header>
    <img src="/img/temple_bar.jpg", alt="Meadlelark travel logo">
  </header>
  {{{body}}}
</body>
</html>
